:root {
    box-sizing: border-box;
}

#box { 
    width: 100px; 
    height: 100px; 
    position: absolute; 
    background: black; 
    left: 200px; 
    top: 200px; 
    background-image: url(/images/black-cat-dcv-prints.jpg);
    border: black solid;
}